// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
li{
  display: inline-block;
  width: 24px;
  padding: 8px;
  background-color: #3498DC;
  text-align: center;
  color: white;
  font-weight: bold;
}
.letter{

}
